.profileCard{
    display: flex;
    width: 100%;
    padding: 4rem 0;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.imageContainerProfile{
    border-radius: 50%;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    border: 2px dashed #ffeecd;
}
.imageContainerProfile > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.settings{
    width: 80%;

}
.name{
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.item{
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label{
    font-size: 1.8rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(136, 135, 135);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #b00b69;
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .logout{
    gap: .5rem;
    padding: 1rem 2rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    font-size: 1.4rem;
    cursor: pointer;
    color: #ff0000;
    border: 1px solid red;
}
  
.logout > img{
    height: 18px;
    width: 18px;
}