.drawer{
    position: absolute;
    height: 100vh;
    width: 0;
    animation-direction: reverse;
    background-color: #f3f3f3;
    text-align: center;
    transition: width .1s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;


}

.opened{
    width: 50%;
    transition: width .3s ease-in-out; 
    z-index: 99;

}
