.input{
    margin: 2rem auto;
    padding: 1rem;
    width: 40%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e0e0e1;
    position: relative;
}
.label::before{
    content: 'hello';
    display: block;
    background-color: red;
    position: absolute;
   
}